{% extends 'base/base-users.html' %}
{% load static i18n %}
{% block content %}
                <h1>{% translate "Login" %}</h1>
                <p class="text-muted">{% translate "Sign In to your account" %}</p>
                <form class="" action="" method="post">
                  {% csrf_token %}

                    <div class="input-group mb-3">
                      {{ form.username }}
                          <div class="btn btn-primary">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                      {{ form.password }}
                            <div class="btn btn-primary">
                              <i class="fa fa-key"></i>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="input-group" style="margin-bottom:10px">
                       <button id="captcha" class='captcha fa fa-rotate-right btn'></button>{{form.captcha}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                       <input type="submit" value="{% translate "Login" %}" class="btn btn-primary px-4" />
                    </div>
                    <div class="col-6 text-right">
                      <button class="btn btn-link px-0" type="button"><a href="{% url 'password-reset' %}">{% translate "Forgot password?" %}</a></button>
                    </div>
                  </div>
                </form>
                <div class="input-group">
                  <p class="label-inline">{% translate "choose the language" %} </p>
                  <form class="mx-2" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select name="language" class="custom-select" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                              {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                  </form>
                </div>
{% endblock content %}
{% block js %}
<script>
$(document).ready(function () {
  $('#captcha').click(function () {
      $.getJSON("/captcha/refresh/", function (result) {
          $('.captcha').attr('src', result['image_url']);
          $('#id_captcha_0').val(result['key'])
      });
  });
});
</script>
{% endblock%}