{% extends 'base/base-users.html' %}
{% load static i18n %}
{% block title %}{% translate "change password" %}{% endblock title %}
{% block cr %}<a href="{% url 'student-list' %}">{% translate "users" %}</a>/{% translate "change password" %} {% endblock cr %}
{% block content %}
    <div class="content-section">
        <h2>{% translate "Password Reset Confirm" %}</h2><hr>
        <p>{% translate "Please enter your new password." %}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit">{% translate "Reset password" %}</button>
            <button class="btn btn-outline-info" type="button"><a href="{% url 'home' %}">{% translate "go back" %}</a></button>
        </form>
    </div>
{% endblock %}