{% extends 'base/base-users.html' %}
{% load static i18n %}
{% block title %}{% translate "resset password" %}{% endblock title %}
{% block cr %}<a href="{% url 'student-list' %}">{% translate "users" %}</a>/{% translate "change password" %} {% endblock cr %}

{% block content %}
	<div class="content-section">
  	 	<h2>{% translate "Reset Password" %}</h2><hr>
		<p>{% translate "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit">{% translate "Send email" %}</button>
        </form>
  	</div>
{% endblock %}