{% extends 'base/base.html' %}
{% load static i18n%}

{% block content %}  
<div class = "container">  
  <h2>{% translate "Sign up data entry" %}</h2>  
  <form method="post" enctype="multipart/form-data">  
    {% csrf_token %}  
    <div class="row">
        <div class="col-md-6">
            <p> {% translate "username" %} : {{ form.username}} </p>
            <p style="color:red">{{ form.username.errors}}</p>
        </div> 
        <div class="col-md-6">
            <p> {% translate "email" %} : {{ form.email}} </p>
            <p style="color:red">{{ form.email.errors}}</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <p> {% translate "password1" %} : {{ form.password1}}</p>
            <p style="color:red">{{ form.password1.errors}}</p>
            <p> {% if form.password1.help_text %} 
                <small >{{ form.password1.help_text }}</small>  
              {% endif %}  </p>
        </div> 
        <div class="col-md-6">
            <p> {% translate "password2" %} : {{ form.password2}}</p>
            <p style="color:red">{{ form.password2.errors}}</p>
            <p> {% if form.password2.help_text %} 
                <small >{{ form.password2.help_text }}</small>  
              {% endif %}  </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            {% if districts %}
            <label>اختيار  المديرية التي يعمل بها : </label>
            <select name="district" class="form-control">
                <option>-----------</option>
                {% for district in districts %}
                <option value="{{district.id}}">{{district.name}}</option>
                {% endfor %}
            </select>
        {% endif%}
        </div> 
        <div class="col-md-6">

        </div>
    </div>
    <hr/>
    <button class="btn btn-primary" type="submit">{% translate "Sign up" %}</button>  
  </form>  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'src/js/registration.js' %}"></script>
  <script src="{% static 'src/js/teacher-address.js' %}"></script>
</div>  
{% endblock %}  