{% load static i18n%}
{% autoescape off %}
{% translate "Hello" %} {{ user.username }},
{% translate "We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below." %}
{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}
{% translate "This link can only be used once. If you need to reset your password again, please visit" %} {{ protocol }}://{{domain}} {% translate "and request another reset." %}
{% translate "If you did not make this request, you can simply ignore this email." %}
{% translate "Sincerely,
Emis - SNS" %}
{% endautoescape %} 