{% extends 'base/base.html' %}
{% load static i18n %}
{% block title %}{% translate "Student Register Form" %}{% endblock %}
{% block cr %} <a href="{% url 'student-list' %}"> {% translate "students" %}</a> / {% translate "Student Register Form" %}{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header card-title-student">{% translate "Student Register Form" %}</div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm">
        
        <div class="address_info">
          <div class="card">
            <div class="card-header text-danger" >سيتم إضافة معلومات المدرسة والسكن الموجودة هذه بشكل آلي  ؟ </div>
            <div class="card-body">
              {% csrf_token %}
              <br/>
              <table class="table table-striped table-bordered datatable dataTable no-footer">
              <tr><td>اسم المدرسة</td> <td>يسكن الطالب حالياً في </td></tr>
              <tr><td> {{school_info.school_name}} </td><td> محافظة {{school_info.school_address.governorate.name}} - مديرية : {{school_info.school_address.district.name}}</td></tr>
              </table>
              <input type="hidden" value="{{school_info.school_code}}" name="school_code">
              <input type="hidden" value="{{school_info.school_address.id}}" name="address">
            </div>
          </div>
          <button id="address_info_btn" type="button" class="btn btn-primary pull-left">موافق</button>
        </div>

        {% include 'partial/registration/student-info.html' %}

        <div class="school_info">
          <div class="card">
            <div class="card-header">{% translate "School Information" %}</div>
            <div class="card-body">
              {% csrf_token %}
              {{ school_form.as_p }}
            </div>
          </div>
          <button id="school_info_prev_btn" type="button" class="btn btn-primary pull-right">{% translate "Previous" %}</button>
          <button id="school_info_btn" type="button" class="btn btn-primary pull-left">{% translate "Next" %}</button>
        </div>

        {% include 'partial/registration/certificates-info.html' %}

        {% include 'partial/registration/parent-info.html' %}

      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
    </div>
  </div>
{% endblock %}
