{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}{% translate "Student Register Form" %}{% endblock %}
{% block cr %} <a href="{% url 'student-list' %}"> {% translate "students" %}</a> / {% translate "Student Register Form" %}{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">{% translate "Student Register Form" %}</div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" load-schools-entry={% url 'load-schools-entry' %}>
      {% include 'partial/registration/address-info.html' %}
      {% include 'partial/registration/student-info.html' %}
      {% include 'partial/registration/certificates-info.html' %}
      {% include 'partial/registration/parent-info.html' %}
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
    </div>
  </div>
{% endblock %}
{% block js%}
<script>
  $("#id_school").change(function(){
    if( $(this).val() ){
      $("#address_info_btn").attr("style","pointer-events :all");
      $("#address_info_btn").removeClass('disabled');
    }else{
      $("#address_info_btn").attr("style","pointer-events :none");
      $("#address_info_btn").addClass('disabled');
    }

});
</script>
{%endblock%}
